body
{
    margin:0px;
    color: ‎#000033;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(250, 250, 225);
}
.navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #872121;  
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align:center;
    border-bottom: 2px black solid;
}
table
{
    align-self: center;
    margin: auto;
    border: 2px solid black;
}
th, td
{
    padding: 15px;
}
tr > td
{
    border-top: 2px solid black;
    border-right: 2px solid black;
}
tr > th
{
    border-right: 2px solid black;
}
li a 
{

    display:block;
    float:left;
    text-decoration:none;
    margin-left:20px;
    text-align:center;
    color:white;
}
li a:hover
{
    color:rgb(240, 240, 0);
}
#content
{
    align-content: center;
    text-align: center;
    padding-top: 5%;
}
#content a
{
    text-decoration: none;
    color: #872121;
}