<!-- parent template from which all other temapltes inherit -->
{% load static %}
<!doctype html>

<html>

<head>
  <title>{% block title %} Odin {% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>


<body>
  <div id= "navbar">
       {% block navbar %}
       <ul class="navbar">
         	<li><a href="{% url 'login' %}"> LOGIN </a></li>
         <li><a href="{% url 'problemset' %}">PROBLEMSET </a></li>
       </ul>
       {% endblock %}
   </div>


   <div id= "content">
       {% block content %}{% endblock %}
   </div>


</body>

</html>
