<!-- parent template from which all other temapltes inherit -->

{% load static %}
<!doctype html>

<html>

<head>
  <title>{% block title %} Odin {% endblock %}</title>
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>

<body>
    <div id= "navbar">
      {% block navbar %}
        <ul class="navbar">

          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"> LOGOUT </a> </li>
 
            <li><a href="{% url 'my_submissions' %}"> MY SUBMISSIONS </a></li>

          {% else %}
            <li><a href="{% url 'login' %}"> LOGIN </a></li>
            <li><a href="{% url 'signup' %}"> SIGNUP </a><li>           
          {% endif %}
          <li><a href="{% url 'problemset' %}"> PROBLEMSET </a></li>
          <li><a href = "{% url 'contestlist' %}"> CONTESTS </a></li>
       </ul>
      {% endblock %}
    </div>

    <div id= "content">
          {% block content %}{% endblock %}
    </div>
</body>
</html>
