{% extends 'base.html' %}

{% block content %}

  <h1>{{ contest.contest_title }}</h1>
  <hr>
  <p>{{contest.contest_description|safe}} </p>

  {% if running %}
 

    {% for problem in problems %}
        {{ problem.problem_title }}
        <br>
        <p> 
        {{problem.problem_statement|safe}}
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'problem_detail' problem_pk=problem.pk %}">Submit Code for {{problem.problem_title}}</a>
        {% endif %}
        <br>
        <hr>
    {% endfor %}
  {% else %}
    <p>Contest is not active</p>
  {% endif %}
{% endblock %}
