<!doctype html>
<!-- This implimentation is really basic, and I have no idea how to send data to a server.   -->

<html>

<head>
  <title> User Authentication </title>
<head/>



<body>
  <h1> User Authentication </h1>
  <hr>

  <form>

    <p>
      Username: <input type= "text"
      value =""
      placeholder="e.g. Leeeeeeroy Jenkins">
    </p>

    <p>
      Password: <input type= "text"
      value ="">
    </p>

    <!-- The type submit of the input tag allows for submission.
      the value attribute allows us to alter what the submit button says.
        Otherwise, by default the bitton says 'submit' .-->

    <p><input type = "submit" value = "submit" > </p>

  </form>

</body>
</html>
