
{% extends "base.html" %}

{% block title %} Problemset  {% endblock %}

{% block content %}
    {% for problem in problems %}
    <div class="problem">
        {{ problem.problem_id }}
        <br>
        {{problem.problem_title}}
        <p>
        {{problem.problem_statement}}
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'problem_detail' problem_pk=problem.pk %}">Submit Code for {{problem.problem_title}}</a>
        {% endif %}
    <hr>
    </div>
    {% endfor %}
{% endblock %}
